<img src="{{pelicula.portada}}" />
<ion-button id="open-modal-{{pelicula.id}}" color="primary" expand="full">ver detalle</ion-button>

<ion-modal trigger="open-modal-{{pelicula.id}}" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <div style="text-align: center;">
                    <ion-title>{{pelicula.nombre}}</ion-title>
                </div>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <iframe width="100%" src="https://www.youtube.com/embed/978oUGtDJ60" frameborder="0" allowfullscreen=""></iframe>
            <p><b>Fecha de estreno:</b> {{pelicula.fechaDeEstreno}}</p>
            <p><b>Clasificación:</b> {{pelicula.clasificacion}}</p>
            <p><b>Duración:</b> {{pelicula.duracion}}</p>
            <p><b>Genero:</b> {{pelicula.genero}}</p>
        </ion-content>
    </ng-template>
</ion-modal>